/* line 6, ../sass/main.scss */
#container #menu {
  top: 0;
  left: 0px;
  height: 100%;
  text-align: center;
  color: #fff;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  background: #6fc36f;
}
/* line 21, ../sass/main.scss */
#container #content {
  height: 100%;
  width: 100%;
  position: relative;
  background: #fff;
}
/* line 27, ../sass/main.scss */
#container #content:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* line 44, ../sass/main.scss */
#container.effect1 #menu {
  left: -300px;
  visibility: visible;
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
}
/* line 51, ../sass/main.scss */
#container.effect1 #content {
  padding-left: 0px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 60, ../sass/main.scss */
#container.effect1.menu-open #menu {
  visibility: visible;
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}
/* line 68, ../sass/main.scss */
#container.effect1.menu-open #content {
  margin-left: 300px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 72, ../sass/main.scss */
#container.effect1.menu-open #content:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

/* line 83, ../sass/main.scss */
.no-js#content {
  padding-left: 0px;
}

/* line 86, ../sass/main.scss */
.no-js#menu {
  left: 300px;
  visibility: visible;
}
